/minecraft/logs
/minecraft/downloads
/minecraft/.fabric
minecraft/usercache.json
/minecraft/saves
/minecraft/mods/.index
/minecraft/cache
/minecraft/.mixin.out
/minecraft/CustomSkinLoader
/minecraft/screenshots
/minecraft/xaero
/minecraft/data
minecraft/command_history.txt
