name: Release

on:
  push:
    tags:
      - "v*"
jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fetch_all_tags: true

      - name: "Tar files"
        run: tar -czvf ${{ github.action_ref }}.tar.gz --exclude='.git*' -C target/release ${{ github.workspace }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          path: ./${{ github.action_ref }}.tar.gz
          name: ${{ github.action_ref }}.tar.gz

      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.action_ref }}
          name: Release ${{ github.action_ref }}
          body: ${{ steps.tag_version.outputs.changelog }}
          artifacts: ./${{ github.action_ref }}.tar.gz
