name: Release

on:
  push:
    tags:
      - "v*"
jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4


      - name: "Tar files"
        run: tar -czvf ${{ github.ref_name }}.tar.gz --exclude='.git*' ${{ github.workspace }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          path: ./${{ github.ref_name }}.tar.gz
          name: ${{ github.ref_name }}.tar.gz

      - name: Changelog
        uses: scottbrenner/generate-changelog-action@master
        id: Changelog
        env:
          REPO: ${{ github.repository }}

      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          body: ${{ steps.Changelog.outputs.changelog}}
          artifacts: ./${{ github.ref_name }}.tar.gz
